@import 'reset';
@import 'fonts';

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    margin-bottom: 74px;

    .top_separator {
        height: 10px;
        background-color: #666;
    }

    .header_title {
        padding: 89px 0 83px 0;
        text-align: center;
        font-size: 79px;
        color: #222;
    }

    .bottom_separator {
        height: 1px;
        background-color: #ebebeb;
    }
}

.paragraph_item,
.full.show, .full2.show, .full3.show {
    font-size: 14px;
    line-height: 22.04px;
    color: #000;
    text-align: justify;
}

.content {
    padding-bottom: 320px;

    .content_items {
        display: flex;
        justify-content: space-between;
        width: calc(100% + 20px);
        margin-left: -10px;

        .content_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            margin: 0 10px;
            width: calc(100% / 3 - 20px);

            .content_wrapper {

                .item_heading {
                    font-size: 38px;
                    margin-bottom: 29px;
                }

                .item_heading.blue {
                    color: #02b9fc;
                }

                .item_heading.yellow {
                    color: #ffcf3a;
                    line-height: 44px;
                    position: relative;
                    top: -3px;
                }

                .item_heading.red {
                    color: #ff5b5b;
                }

                .image_text_item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    .image_wrapper {
                        margin-right: 20px;
                    }

                }
            }

            .read_more {
                display: block;
                margin-top: 29px;
                font-size: 14px;
                color: #bdbdbd;
                &:hover{
                    cursor: pointer;  
                }

            }
            .read_more.blue{
                &:hover{
                    color: #02b9fc;
                }
            }
            .read_more.yellow{
                &:hover{
                    color: #ffcf3a;
                }
            }
            .read_more.red{
                &:hover{
                    color: #ff5b5b;
                }
            }
        }

    }
}

.footer {
    background-color: #666;
    font-size: 16px;
    color: #fff;
    padding-top: 54px;

    .footer_items {
        display: flex;
        justify-content: space-between;
        padding-bottom: 72px;
        flex-wrap: wrap;
        .footer_item {
            width: 25%;
        }
    }

    .footer_copyright {
        padding-bottom: 17px;
        text-align: center;
    }
}

.full, .full2, .full3,
.less, .less2, .less3, .hide {
    display: none;
}

.show {
    display: block;
}


@media(max-width: 963px) {
    .container {
        width: 80%;
    }

    .content {
        .content_items {
            flex-wrap: wrap;

            .content_item {
                margin: 0 auto;
                width: 51%;
                .read_more{
                    margin-bottom: 29px;
                }
            }   
        }
    }

    .footer {
        .footer_items {
            .footer_item {
                width: 51%;
                margin: 20px auto;
                text-align: center;
            }
        }
    }

}